body {
 margin: 0 auto;
 position: relative;
}

#health-bar {
  position: absolute;
  top: 110px;
  left: 16px;
  display: flex;
}

#health-bar i {
  font-size: 30px;
  color: red;
  margin-right: 13px;
}

#score-field {
  position: absolute;
  top: 17px;
  left: 16px;
  display: flex;
  font-size: 30px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

#time {
  position: absolute;
  top: 61px;
  left: 16px;
  color: white;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

#jump-item-field {
  position: absolute;
  top: 153px;
  left: 20px; 
}

#superjump-text { 
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-bottom: 13px;
}

#progress{
  height: 20px;
  width: 150px;
  display: flex;
}

.bar{
  background-color: #ffffff;
  width: 0px;
  height: 100%;
  border-radius: 15px;
  animation: progres 8s infinite linear;    
}

@keyframes progres{
  0%{
    width: 100%;
  }
  25%{
      width: 75%;
  }
  50%{
      width: 50%;
  }
  75%{
      width: 25%;
  }
  100%{
      width: 0%;
  }
};

#star-item-field {
  position: absolute;
  top: 143px;
  left: 20px; 
  background-color: red;
}

#star-progress{ 
  height: 20px;
  width: 150px;
  display: flex;
}

#star-text {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-bottom: 13px;

}

.star-bar{
  background-color: #ffffff;
  width: 0px;
  height: 100%;
  border-radius: 15px;
  animation: progress 8s infinite linear;    
}

@keyframes progress{
  0%{
    width: 100%;
  }
  25%{
      width: 75%;
  }
  50%{
      width: 50%;
  }
  75%{
      width: 25%;
  }
  100%{
      width: 0%;
  }
};

#golem-health-bar {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 300px;
  height: 15px;
  background-color: red;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}